{% extends 'customer-profile/base.html' %}
{% load static %}


{% block content %}

<div class="account-content content-favorits-account">
    <div class="header-tab-content-account mb-4">
        <h1 class="title-tabcontent-account me-2">
            علاقه مندی ها
        </h1>
    </div>
    <div class="main-content-account">
        <div class="row">
            <div class="col-12   col-sm-6 col-md-4 mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img11.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img12.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">100000</del>
                            99000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2"> عنوان محصول </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-4 mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="off"> <span>30% تخفیف</span></div>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img13.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img14.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">150000</del>
                            110000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2">عنوان محصول
                            </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-4  mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="off"> <span>30% تخفیف</span></div>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img1.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img2.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">130000</del>
                            120000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2">عنوان محصول </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-4 mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="off"> <span>30% تخفیف</span></div>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img9.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img10.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">150000</del>
                            110000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2">عنوان محصول
                            </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-4 mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img7.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img8.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">100000</del>
                            99000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2"> عنوان محصول </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-4 mb_col_productNew d-flex justify-content-center">
                <div class="product_cart product-cart-account">
                    <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                    <div class="cart-img-product mb-3">
                        <a href="#">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="{% static 'img/img3.jpg' %}" class="img1-product img-fluid">
                                <img src="{% static 'img/img4.jpg' %}" class="img2-product img-fluid">
                            </div>
                        </a>
                        <div class="area-button-view-product">
                            <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                محصول</a>
                            <a href="#" class="add-to-cart">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="content_product text-center">
                        <div class="price_card_product mb-2"><del class="me-1">70000</del>
                            60000
                            تومان</div>
                        <a href="#">
                            <h3 class="title-product mb-2">عنوان محصول </h3>
                        </a>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            <span class="star-icon "><i class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex  flex-column flex-md-row justify-content-between  mt-5">
            <div class="social-Icon-account d-flex align-items-center mb-3 mb-md-0 ">
                <span>اشتراک گذاری لیست: </span>
                <div class="area-socialIcon d-flex ms-2">
                    <a href="http://www.facebook.com" class="icon facebook"><span class="tooltip-site">Facebook</span></a>
                    <a href="http://www.github.com" class="icon instegram"><span class="tooltip-site">instegram</span></a>
                    <a href="http://www.dribble.com" class="icon linkedin"><span class="tooltip-site">linkedin</span></a>
                    <a href="http://www.twitter.com" class="icon twitter"><span class="tooltip-site">Twitter</span></a>
                </div>
            </div>

            <div class="area-btnOldfavorits  mb-3 mb-md-0">

                <a class="btn-style2" href="#">نمایش لیست بیشتر</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}