{% extends 'customer-profile/base.html' %}
{% load static %}
{% block content %}
<div class="account-content content-comment-account">

    <div class="header-tab-content-account  mb-4">
        <h1 class="title-tabcontent-account mb-3 mb-sm-0">
            دیدگاهها
        </h1>
    </div>
    <div class="main-content-account">
        <div class="box-comments">
            <div class="item-comment d-flex   mb-4">
                <div class="profile-commentsproduct me-3">
                    <a href="#">
                        <img src="{% static 'img/img12.jpg' %}">
                    </a>
                </div>
                <div class="comments-product-content">
                    <div class="comments-product-headerContent  mb-3">
                        <div class="star_rating-item-comment d-flex ">
                            <div class="star_rating me-3 ">
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="profile-comments-status-approved me-3">
                                تایید شده
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="far fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li> <a class="dropdown-item" href="#">حذف نظر</a></li>
                                    <li> <a class="dropdown-item" href="#">ویرایش نظر</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <p class="mb-4">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده
                        از
                        طراحان
                        گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که
                        لازم
                        است، و
                        برای شرایط
                    </p>
                </div>
            </div>

            <div class="item-comment d-flex   mb-4">
                <div class="profile-commentsproduct me-3">
                    <a href="#">
                        <img src="{% static 'img/img11.jpg' %}">
                    </a>
                </div>
                <div class="comments-product-content">
                    <div class="comments-product-headerContent  mb-3">
                        <div class="star_rating-item-comment d-flex">
                            <div class="star_rating me-3 ">
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="profile-comments-status-approved me-3">
                                تایید شده
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="far fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li> <a class="dropdown-item" href="#">حذف نظر</a></li>
                                    <li> <a class="dropdown-item" href="#">ویرایش نظر</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده
                        از
                        طراحان
                        گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که
                        لازم
                        است، و
                        برای شرایط
                    </p>
                </div>
            </div>

            <div class="item-comment d-flex   mb-4">
                <div class="profile-commentsproduct me-3">
                    <a href="#">
                        <img src="{% static 'img/img9.jpg' %}">
                    </a>
                </div>
                <div class="comments-product-content">
                    <div class="comments-product-headerContent  mb-3">
                        <div class="star_rating-item-comment d-flex">
                            <div class="star_rating me-3 ">
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="profile-comments-status-approved me-3">
                                تایید شده
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="far fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li> <a class="dropdown-item" href="#">حذف نظر</a></li>
                                    <li> <a class="dropdown-item" href="#">ویرایش نظر</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده
                        از
                        طراحان
                        گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که
                        لازم
                        است، و
                        برای شرایط
                    </p>
                </div>
            </div>
        </div>
        <div class="area-btnOldComment  text-center pt-1">
            <a class="btn-style2" href="#">نمایش دیدگاههای قدیمی تر</a>
        </div>
    </div>

</div>

{% endblock %}