{% extends 'customer-profile/base.html' %}
{% load static %}


{% block content %}


<div class="account-content content-address-account">


    <div class="header-tab-content-account  mb-4">
        <h1 class="title-tabcontent-account">
            نشانی ها
        </h1>
    </div>
    <div class="main-content-account">
        <div class="profile-address-container">
            <div class="profile-address-itemTop mb-3"> اهواز_ کوی مجاهد، کوچه هنر 4 پلاک 15
            </div>
            <div class="profile-address-content">
                <ul>
                    <li>
                        <div class="profile-address-item profile-address-item-location mb-2">
                            <i class="fal fa-map-marker-alt me-2"></i>خوزستان، اهواز</div>
                    </li>
                    <li>
                        <div class="profile-address-item profile-address-item-postalCode mb-2">
                            <i class="far fa-envelope me-2"></i>example@servin.com</div>
                    </li>
                    
                    <li>
                        <div class="profile-address-item profile-address-item-phone mb-2"><i class="fal fa-phone-alt me-2"></i>09165252325</div>
                    </li>
                    
                    <li>
                        <div class="profile-address-item profile-address-item-name mb-2"><i class="fal fa-user me-2"></i>فاطمه حمزه عوفی</div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>



</div>

{% endblock %}