{% extends 'customer-profile/base.html' %}
{% load static %}


{% block content %}
<div class="account-content content-changePassword-account">
    <div class="header-tab-content-account d-flex justify-content-between align-items-center mb-4">
        <h1 class="title-tabcontent-account">
            تغییر
            رمز عبور
        </h1>

    </div>
    <div class="main-content-account">
        <div class="area-form-wrap">
            <form>
                <div class="pb-4 mb-4">
                    <div class="form-group">
                        <label for="input-passwordNew">پسورد جدید</label>
                        <input type="password" class="form-control inputpassword" id="input-passwordNew">
                    </div>


                    <div class="form-check form-check-custom  my-3 my-sm-0">

                        <label class="checkbox-container" for="checkbox-passwordNew">نمایش
                            رمز عبور
                            <input type="checkbox" id="checkbox-passwordNew" onclick="showPassword()">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="input-password-repetition">تکرار پسورد جدید</label>
                        <input type="password" class="form-control inputpassword-repetition" id="input-password-repetition">

                    </div>

                    <div class="form-check form-check-custom my-3 my-sm-0">
                        <label class="checkbox-container" for="checkbox-password-repetition">
                            نمایش رمز عبور
                            <input type="checkbox" id="checkbox-password-repetition" onclick="showPassword2() ">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="text-center mt-4">

                    <div class="area-btn-save">
                        <a href="#" class="btn-style2"> ذخیره تغییرات<i class="far fa-sd-card ms-2"></i></a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}