

<aside class="area-sidebar">
    <div class="widget-sidebar mb-4 pb-3" id="accordian">
        <header>
            <h3 class="title-widget-sidebar ">دسته بندی</h3>
        </header>
        <section>
            <ul class="menu-multi-level menu-categorySidebar">
                <li class="menu-item-has-children"><a href="#">آرایشی <span
                            class="badge-sidebar-shop">(150)</span></a>
                    <ul class="sub-menu" style="display: none;">
                        <li class="children"><a href="#">آرایش صورت<span
                                    class="badge-sidebar-shop">(10)</span> </a>
                        </li>
                        <li class="children"><a href="#"> آرایش لب<span
                                    class="badge-sidebar-shop">(30)</span></a>
                        </li>
                        <li class="children"><a href="#">آرایش چشم و ابرو<span
                                    class="badge-sidebar-shop">(70)</span></a>
                        </li>
                        <li class="children"><a href="#">آرایش ناخن<span
                                    class="badge-sidebar-shop">(30)</span> </a>
                        </li>
                        <li class="children"><a href="#">آرایش مو <span
                                    class="badge-sidebar-shop">(10)</span></a>
                        </li>
                        <li class="children"><a href="#">پاک کننده های آرایشی <span
                                    class="badge-sidebar-shop">(50)</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">عطر و آدکلان <span
                            class="badge-sidebar-shop">(90)</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">بادی اسپلش<span class="badge-sidebar-shop">(18)</span> </a>
                        </li>
                        <li><a href="#">عطر جیبی<span class="badge-sidebar-shop">(12)</span></a>
                        </li>
                        <li><a href="#">اسپری و مام زنانه<span
                                    class="badge-sidebar-shop">(10)</span> </a>
                        </li>
                        <li><a href="#">اسپری و مام مردانه <span
                                    class="badge-sidebar-shop">(15)</span></a>
                        </li>
                        <li><a href="#">عطر زنانه <span class="badge-sidebar-shop">(20)</span></a>
                        </li>
                        <li><a href="#">ادکلان مردانه<span class="badge-sidebar-shop">(30)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">مراقبتی <span
                            class="badge-sidebar-shop">(70)</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">مراقبت چشم <span class="badge-sidebar-shop">(12)</span></a>
                        </li>
                        <li><a href="#"> مراقبت صورت <span class="badge-sidebar-shop">(5)</span></a>
                        </li>
                        <li><a href="#"> مراقبت لب<span class="badge-sidebar-shop">(25)</span></a>
                        </li>
                        <li><a href="#"> مراقبت ناخن<span class="badge-sidebar-shop">(10)</span></a>
                        </li>
                        <li><a href="#"> مراقبت بدن<span class="badge-sidebar-shop">(20)</span></a>
                        </li>
                        <li><a href="#"> مراقبت مو<span class="badge-sidebar-shop">(40)</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">بهداشت و سلامت <span
                            class="badge-sidebar-shop">(68)</span> </a>
                    <ul class="sub-menu">
                        <li><a href="#">بهداشت دهان و دندان <span
                                    class="badge-sidebar-shop">(40)</span></a>
                        </li>
                        <li><a href="#">بهداشت بانوان <span
                                    class="badge-sidebar-shop">(15)</span></a>
                        </li>
                        <li><a href="#">بهداشت عمومی<span class="badge-sidebar-shop">(30)</span>
                            </a>
                        </li>
                        <li><a href="#">بهداشت آقایان <span
                                    class="badge-sidebar-shop">(20)</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
    <div class="widget-sidebar mb-4 pb-3">
        <header>
            <h3 class="title-widget-sidebar ">موارد اخیر</h3>
        </header>
        <section>
            <ul class="area-post-thumbnail-sidebar shop">
                <li class="d-flex mb-2">
                    <a href="#" class="link-img-post-thumbnail grayscale">
                        <img class="img-Post-thumbnail " src="img/img1.jpg">
                    </a>
                    <div class="details-Post-thumbnail">
                        <h3 class="product-title mb-1">
                            <a href="#">عنوان محصول </a>
                        </h3>
                        <div class="area-price-Product d-flex ">
                            <del class="price-discount me-2 ">150000تومان</del>
                            <span class="price">120000 تومان</span>
                        </div>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </li>
                <li class="d-flex mb-2">
                    <a href="#" class="link-img-post-thumbnail grayscale">
                        <img class="img-Post-thumbnail " src="img/img5.jpg">
                    </a>
                    <div class="details-Post-thumbnail">
                        <h3 class="product-title mb-1">
                            <a href="#">عنوان محصول </a>
                        </h3>
                        <div class="area-price-Product d-flex">
                            <del class="price-discount me-2 ">150000تومان</del>
                            <span class="price">120000 تومان</span>
                        </div>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </li>
                <li class="d-flex mb-2">
                    <a href="#" class="link-img-post-thumbnail grayscale">
                        <img class="img-Post-thumbnail " src="img/img3.jpg">
                    </a>
                    <div class="details-Post-thumbnail">
                        <h3 class="product-title mb-1">
                            <a href="#">عنوان محصول </a>
                        </h3>
                        <div class="area-price-Product d-flex">
                            <del class="price-discount me-2 ">150000تومان</del>
                            <span class="price">120000 تومان</span>
                        </div>
                        <div class="star_rating">
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon star-icon-active"><i
                                    class="far fa-star"></i></span>
                            <span class="star-icon"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <div class="widget-sidebar mb-4 pb-3">
        <header>
            <h3 class="title-widget-sidebar ">برچسب محصول</h3>
        </header>
        <section>
            <div class="d-flex flex-wrap  area-tags-shop">
                <div class="tag-sidebar"><a href="#">برای مرد</a></div>
                <div class="tag-sidebar"><a href="#">برای زن</a></div>
                <div class="tag-sidebar"><a href="#">لوازم آرایش گیاهی</a></div>
                <div class="tag-sidebar"><a href="#">اسپری</a></div>
                <div class="tag-sidebar"><a href="#">چشم</a></div>
                <div class="tag-sidebar"><a href="#">پاک کننده</a></div>
                <div class="tag-sidebar"><a href="#">محصولات گیاهی</a></div>
                <div class="tag-sidebar"><a href="#">مو</a></div>
                <div class="tag-sidebar"><a href="#">صورت</a></div>
            </div>
        </section>
    </div>
</aside>
