{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="singleProduct toSidebar">
    <div class="bg-close">
    </div>
    <div class="bg-searchform">
        <div class="area-searchform">
            <div class="area-close-search">
                <a href="#"><i class="fal fa-times"></i></a>
            </div>
            <form class="searcd-block d-lg-noneh-form d-flex w-100" action="" method="get">
                <input type="text" class="form-control input_search" placeholder="دنبال چه میگردید">
                <button type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z">
                        </path>
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z">
                        </path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    {% comment %} <header> {% endcomment %}
        <div class="topbar-site d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>

    </header>
    <section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
        <div class="area-breadcrumb-site" style='background: url({% static "img/imgheader.jpg" %})   no-repeat center top;
'>
            <h1 class="text-center mb-3">جزئیات نوار کناری سمت چپ</h1>
            <nav aria-label="breadcrumb" class="mb-4 mb-lg-3">
                <ol class="breadcrumb breadcrumb-singleProduct ">
                    <li class="breadcrumb-item"><a href="home">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                    <li class="breadcrumb-item active">جزئیات نوار کناری سمت چپ</li>
                </ol>
            </nav>
        </div>
    </section>
    <main class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-1">
                    <div class="row mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
                        <div class="col-12 col-lg-6  mb-4 mb-sm-5 mb-lg-0">
                            <div class="exzoom" id="exzoom">
                                <div class="exzoom_img_box">
                                    <ul class='exzoom_img_ul'>
                                        {% if product.img1 %}
                                        <li><img src="{{product.img1.url}}" /></li>
                                        {% endif %}
                                        {% if  product.img2 %}
                                        <li><img src="{{product.img2.url}}" /></li>
                                        {% endif %}
                                       
                                        {% if  product.img3 %}
                                        <li><img src="{{product.img3.url}}" /></li>
                                        {% endif %}
                                        {% if  product.img4 %}
                                        <li><img src="{{product.img4.url}}" /></li>
                                        {% endif %}
                                        
                                    
                                    </ul>
                                </div>
                                <div class="exzoom_nav"></div>
                                <p class="exzoom_btn">
                                    <a href="javascript:void(0);" class="exzoom_prev_btn"> <i
                                            class="fa fa-chevron-left"></i> </a>
                                    <a href="javascript:void(0);" class="exzoom_next_btn"> <i
                                            class="fa fa-chevron-right"></i> </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 ">
                            <div class="contentproduct-single area-details-product ">
                                <h3 class="product-title mb-3">
                                    <a href="#">{{product.title}}</a>
                                </h3>
                                
                                <div
                                    class="d-sm-flex d-lg-block d-xl-flex justify-content-between align-items-center  mb-3">
                                    <div class="area-price-Product d-flex me-2 me-sm-0">
                                        <span class="me-2"> قیمت: </span>
                                        {% comment %} <del class="price-discount me-3 "></del> {% endcomment %}
                                        <p class="price mb-0">{{first.price}}</p>
                                        <p>
                                        <span  class="me-2">فروشنده:</span>
                                        </p>
                                        <p class="price mb-0">{{first.salesman.username}}</p>
                                    </div>
                                    
                                    <a href="#" class="d-flex">
                                        <div class="star_rating me-3">
                                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                            <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                            <span class="star-icon "><i class="far fa-star"></i></span>
                                            <span class="star-icon"><i class="far fa-star"></i></span>
                                        </div>
                                        <span>(3.2)</span>
                                    </a>
                                </div>
                                {% if sayer %}
                                
                                <div class="area-price-Product d-flex me-2 me-sm-0">
                                
                                <span class="me-2"> سایر فروشندگان:</span>
                                <ul>
                                    {% for p in sayer  %}
                                        <li>{{p.salesman}} : {{p.price}}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% endif  %}
                                
                                <p class="mb-3">
                                    {{product.description}}
                                </p>
                                {% if first.salesproducts.all.values.all %}
                                <ul>
                                <li>ویژگی های کالا</li>
                                {% for i in first.salesproducts.all %}
                                <li>
                                    {{i.prop}}:
                                    {% for j in i.values.all %}
                                    <span>{{j.value}}</span>
                                    {%endfor %}
                                </li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                                  <div class="area-inputNumber-singlproduct d-flex align-items-center mt-4">
                                  <form action="{%url 'products:add_to_cart' product.slug_title %}" method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="product" value="{{product.title}}"/>
                                  {% if product.img1 %}
                                  <input type="hidden" name="product_img" value="{{product.img1.url}}" />
                                  {% endif %}
                                  <input type="hidden" name="price" value="{{first.price}}"/>
                                  <input type="hidden" name="salesman" value="{{first.salesman.username}}" />
                                  <input type="hidden" name="salesman_product_id" value="{{first.id}}" />
                                    <div class="input-number-wrapper d-flex align-items-center me-3">
                                    {% if first.amount %}
                                        <span class="quanti-invitati-op increase">+</span>
                                        <input name="product_number" class="input-number-custtom" type="text" value="1">
                                        <span class="quanti-invitati-op decrease">-</span>
                                        <button  type="submit" class="btn-animate1"> افزودن به سبد خرید<i
                                            class="fal fa-cart-arrow-down ms-3"></i></button>
                                     {% elif not first.amount %}
                                        <span class="quanti-invitati-op ">+</span>
                                        <input name="product_number" class="input-number-custtom" type="text" value="1">
                                        <span class="quanti-invitati-op ">-</span>
                                        <button  type="button" class="btn-animate1"> افزودن به سبد خرید<i 
                                        class="fal fa-cart-arrow-down ms-3"></i></button>
                                        <p>درحال حاضر موجود نیست</p>
                                    {% endif %}
                                    </div>

                                    </form>
                                </div>  
                                    <li><span>دسته بندی: </span><a href="#">{{product.cat.title}} </a>،
                                        <a href="#">{{product.cat.parent.title}}</a>
                                    </li>
                                    {% comment %} <li><span>برچسب ها: </span><a href="#">مردانه</a> ، {% endcomment %}
                                        {% comment %} <a href="#">زنانه</a> {% endcomment %}
                                    </li>
                                </ul>
                                <div class="socialIcon-singlproduct mt-4 d-flex align-items-center">
                                    <span class="me-2">اشتراک گذاری: </span>
                                    <div class="area-socialIcon d-flex ">
                                        <a href="http://www.facebook.com" class="icon facebook"><span
                                                class="tooltip-site">Facebook</span></a>
                                        <a href="http://www.github.com" class="icon instegram"><span
                                                class="tooltip-site">instegram</span></a>
                                        <a href="http://www.dribble.com" class="icon linkedin"><span
                                                class="tooltip-site">linkedin</span></a>
                                        <a href="http://www.twitter.com" class="icon twitter"><span
                                                class="tooltip-site">Twitter</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
                        <div class="col-12">
                            <ul class="nav nav-tabs nav-tabs-singleProduct" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="pill"
                                        data-bs-target="#description-product" type="button" role="tab"
                                        aria-controls="description-product" aria-selected="true">توضیحات</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="additional-information-tab" data-bs-toggle="pill"
                                        data-bs-target="#additional-informationProduct" type="button" role="tab"
                                        aria-controls="additional-informationProduct" aria-selected="false">اطلاعات
                                        اضافی</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="reviews-product-tab" data-bs-toggle="pill"
                                        data-bs-target="#reviews-product" type="button" role="tab"
                                        aria-controls="reviews-product" aria-selected="false">نظرات (1)</button>
                                </li>
                            </ul>
                            <div class="tab-content tab-content-singleProduct " id="myTabContent">
                                <div class="tab-pane fade show active" id="description-product" role="tabpanel"
                                    aria-labelledby="description-tab">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                        گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                                        و
                                        برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
                                        متخصصان را می طلبد، تا با نرم افزارها شناخت.</p>
                                    <p>بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                                        فارسی
                                        ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                        راهکارها، و
                                        شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                                        جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                </div>
                                <div class="tab-pane fade" id="additional-informationProduct" role="tabpanel"
                                    aria-labelledby="additional-information-tab">
                                    <table class="table table-bordered table-additional-informationProduct">
                                        <tbody>
                                            <tr>
                                                <td>طبع</td>
                                                <td>گرم</td>
                                            </tr>
                                            <tr>
                                                <td>حجم</td>
                                                <td>300ml</td>
                                            </tr>
                                            <tr>
                                                <td>کشور مبدا برند</td>
                                                <td>ایران</td>
                                            </tr>
                                            <tr>
                                                <td>شماره مجوز</td>
                                                <td>563285632674852</td>
                                            </tr>
                                            <tr>
                                                <td>صادر کننده مجوز</td>
                                                <td>سازمان غذا و دارو</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="reviews-product" role="tabpanel"
                                    aria-labelledby="reviews-product-tab">
                                    <div class="box-comments">
                                    {% for comment in comments %}
                                        <div class="item-comment pb-5 pb-md-1 mb-4">
                                            {% comment %} <div class="d-flex justify-content-between align-items-center mb-3">
                                                <div class="star_rating me-3 ">
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                </div> 
                                                <div class="box-like-dislike-comment d-flex align-items-center">
                                                    <button class="btn-like pe-3" type="button">5 <i
                                                            class="fal fa-thumbs-up"></i></button>
                                                    <div class="border-right " style="height: 25px;"></div>
                                                    <button class="btn-dislike ps-3" type="button">2 <i
                                                            class="fal fa-thumbs-down"></i></button>
                                                </div>
                                            </div> {% endcomment %}
                                            <div class="porofile_customers-comment d-flex">
                                                {% comment %} <div class="area-img-comment">
                                                    <img src="{%static 'img/img100.jpg' %}" class="img-fluid">
                                                </div> {% endcomment %}
                                                <div class="ms-3 ms-md-4">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <div class="porofileName ">
                                                            <h6>{{comment.customer}}</h6>
                                                            {% comment %} <span>3 روز پیش</span> {% endcomment %}
                                                        </div>
                                                        {% comment %} <div class="area-btn-peply">
                                                            <a href="#" class="btn-peply"> پاسخ</a>
                                                        </div> {% endcomment %}
                                                    </div>
                                                    <p>
                                                        {{comment.comment}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     {% endfor %}
                                    <div class="area-form-wrap single-product">
                                        <div class="area-form-reviews">
                                            <h3 class="h4 mb-4 heading-style1 mt-5">ارسال نظرات</h3>
                                            <!-- Default form contact -->
                                            <form class="row form-reviews" action="{% url 'comments:add_comment' product.slug_title %}" method="POST">
                                                {% csrf_token %}
                                                {% comment %} <div class="starrating risingstar d-flex justify-content-start mb-4">
                                                    <input type="radio" id="star5" name="rating" value="5" /><label
                                                        for="star5" title="5 star"></label>
                                                    <input type="radio" id="star4" name="rating" value="4" /><label
                                                        for="star4" title="4 star"></label>
                                                    <input type="radio" id="star3" name="rating" value="3" /><label
                                                        for="star3" title="3 star"></label>
                                                    <input type="radio" id="star2" name="rating" value="2" /><label
                                                        for="star2" title="2 star"></label>
                                                    <input type="radio" id="star1" name="rating" value="1" /><label
                                                        for="star1" title="1 star"></label>
                                                </div> <!-- Message --> {% endcomment %}
                                                <div class="form-group mb-4 col-12">
                                                    {{form}} </div>
                                                {% comment %} <!-- Name -->
                                                <div class="form-group mb-4 col-12 col-md-6"> </label>
                                                    <input type="text" required class="form-control" id="Input-name"
                                                        placeholder="نام خود را وارد کنید *">
                                                </div>
                                                <!-- Email -->
                                                <div class="form-group mb-4 col-12 col-md-6">
                                                    <input type="email" required class="form-control" id="input-email"
                                                        placeholder="ایمیل خود را وارد کنید *">
                                                </div> {% endcomment %}
                                                <!-- Send button -->
                                                <div class="form-group mb-4 col-12 col-md-6">
                                                    <button type="submit" class="btn-animate1">ارسال نظر</button>
                                                </div>
                                            </form>
                                            <!-- Default form contact -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="row">
                    <h2 class="title-site">محصولات مرتبط
                    </h2>
                        <div class="col-12">
                            <div class="owl-carousel slider-product-toSidebar">
                                <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                                    <div class="product_cart">
                                        <div class="off"> <span>30% تخفیف</span></div>
                                        <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
                                        <div class="cart-img-product mb-3">
                                            <a href="#">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <img src="{%static 'img/img1.jpg' %}" class="img1-product img-fluid" />
                                                    <img src="{%static 'img/img2.jpg' %}" class="img2-product img-fluid" />
                                                </div>
                                            </a>
                                            <div class="area-button-view-product">
                                                <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                                    محصول</a>
                                                <a href="#" class="add-to-cart">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="content_product text-center">
                                            <div class="price_card_product mb-2"><del class="me-1">130000</del> 120000
                                                تومان</div>
                                            <a href="#">
                                                <h3 class="title-product mb-2">عنوان محصول </h3>
                                            </a>
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                                    <div class="product_cart"> <a href="#" class="link-wishlist-icon"><i
                                                class="fal fa-heart"></i></a>
                                        <div class="cart-img-product mb-3">
                                            <a href="#">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <img src="{%static 'img/img3.jpg' %}" class="img1-product img-fluid" />
                                                    <img src="{%static 'img/img4.jpg' %}" class="img2-product img-fluid" />
                                                </div>
                                            </a>
                                            <div class="area-button-view-product">
                                                <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                                    محصول</a>
                                                <a href="#" class="add-to-cart">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="content_product text-center">
                                            <div class="price_card_product mb-2"><del class="me-1">70000</del> 60000
                                                تومان</div>
                                            <a href="#">
                                                <h3 class="title-product mb-2">عنوان محصول </h3>
                                            </a>
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                                    <div class="product_cart">
                                        <div class="off"> <span>30% تخفیف</span></div>
                                        <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
                                        <div class="cart-img-product mb-3">
                                            <a href="#">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <img src="{%static 'img/img5.jpg' %}" class="img1-product img-fluid" />
                                                    <img src="{%static 'img/img6.jpg' %}" class="img2-product img-fluid" />
                                                </div>
                                            </a>
                                            <div class="area-button-view-product">
                                                <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                                    محصول</a>
                                                <a href="#" class="add-to-cart">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="content_product text-center">
                                            <div class="price_card_product mb-2"><del class="me-1">80000</del> 50000
                                                تومان</div>
                                            <a href="#">
                                                <h3 class="title-product mb-2">عنوان محصول </h3>
                                            </a>
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                                    <div class="product_cart">
                                        <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
                                        <div class="cart-img-product mb-3">
                                            <a href="#">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <img src="{%static 'img/img7.jpg' %}" class="img1-product img-fluid" />
                                                    <img src="{%static 'img/img8.jpg' %}" class="img2-product img-fluid" />
                                                </div>
                                            </a>
                                            <div class="area-button-view-product">
                                                <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                                    محصول</a>
                                                <a href="#" class="add-to-cart">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="content_product text-center">
                                            <div class="price_card_product mb-2"><del class="me-1">100000</del> 99000
                                                تومان</div>
                                            <a href="#">
                                                <h3 class="title-product mb-2"> عنوان محصول </h3>
                                            </a>
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
                                    <div class="product_cart">
                                        <div class="off"> <span>30% تخفیف</span></div>
                                        <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
                                        <div class="cart-img-product mb-3">
                                            <a href="#">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <img src="{%static 'img/img9.jpg' %}" class="img1-product img-fluid" />
                                                    <img src="{%static 'img/img10.jpg' %}" class="img2-product img-fluid" />
                                                </div>
                                            </a>
                                            <div class="area-button-view-product">
                                                <a href="shop-product-detail.html" class="button-view-product">مشاهده
                                                    محصول</a>
                                                <a href="#" class="add-to-cart">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="content_product text-center">
                                            <div class="price_card_product mb-2"><del class="me-1">150000</del> 110000
                                                تومان</div>
                                            <a href="#">
                                                <h3 class="title-product mb-2">عنوان محصول
                                                </h3>
                                            </a>
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 mt-5 mt-lg-0 order-2 order-lg-2">
                    
                {% comment "" %} sidebar detail_view included{% endcomment %}
                     {% comment %} {% include 'detail_sidebar.html' %} {% endcomment %}
                            
                </div>
            </div>
        </div>
    </main>
    
    <a class="scrollTo scroll-To-top " href=".topbar-site"></a>
    <script src="{%static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!--refrence carousel-->
    <script src="{%static 'js/carousel/owl.carousel.min.js'%}"></script>
    <!--refrence carousel-->
    <script type="text/javascript" src="{%static 'js/main.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/wow.min.js'%}"></script>
    {% comment %} <script type="text/javascript" src="{%static 'js/price-range-slider.js'%}"></script> {% endcomment %}
    <script src="{%static 'js/jquery.elevatezoom.js'%}"></script>
</div>
{% endblock content %}


