{% load static %}

<div class="col-12 col-lg-3 mt-5 mt-lg-0 order-2 ">
    <form method="GET">
    <aside class="area-sidebar">
            <div class="widget-sidebar mb-4 pb-3" id="accordian">
                <header>
                    <h3 class="title-widget-sidebar ">دسته بندی</h3>
                </header>
                <section>
                    <ul class="menu-multi-level menu-categorySidebar">
                        {% for cat in category %}
                        <li class="menu-item-has-children"><a href="{% url "product:show_product" cat.id %}">{{ cat.title }}<span class="badge-sidebar-shop">(150)</span></a>
                            <ul class="sub-menu" style="display: none;">
                                {% for sub_cat in sub_category %}
                                {% if sub_cat.parent_id == cat.id %}
                                <li class="children"><a href="{% url "product:show_product" sub_cat %}">{{ sub_cat.title }}<span class="badge-sidebar-shop">(10)</span> </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="widget-sidebar mb-4 pb-3">
                <header>
                    <h3 class="title-widget-sidebar">قیمت</h3>
                </header>
                <section>

                    <div class="area-range-price extra-controls form-inline">
                        {% comment %} <div class="form-group w-100  ">
                            <select name="price">
                                <option>قیمت </option>
                                    <option value="500000,990000">500000 تومان - 990000 تومان</option>
                                <option value="1000000,2000000">1000000 تومان - 2000000 تومان</option>
                                <option value="3000000,5000000">3000000 تومان - 5000000 تومان</option>
                                <option value="5000000,9000000">5000000 تومان - 9000000 تومان</option>
                            </select>

                        </div> {% endcomment %}
                        <div class="area-range-price extra-controls form-inline">
                            <div class="form-group w-100  ">
                                <span>محدوده : </span>
                                <input class="js-input-from form-control " value="0" name="price2">
                                تا
                                <input type="text" class="js-input-to form-control  " value="0" name="price1">
                            </div>
                        </div>


                    </div>

                </section>
            </div>
            <input type="submit"/>
        </aside>
    </form>
</div>
