{% load static %}
{% block footer %}
<footer class="area-footer">
    <div class="area-content-footer">
        <div class="container">
            <div class="row">
                <div class="wow slideInRight col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">

                    <div class="widget_footer">
                        <div class="title_widget_footer mb-3">
                            اطلاعات
                        </div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">شرایط استفاده</a></li>
                                <li><a href="#">راهنمای سفارش و خرید</a></li>
                            </ul>
                        </div>
                    </div>




                </div>
                <div class="wow slideInUp col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="widget_footer">
                        <div class="title_widget_footer mb-3">
                            حساب کاربری
                        </div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li><a href="#">سفارش های من</a></li>
                                <li><a href="#">لیست علاقه مندی ها</a></li>
                                <li><a href="#">پیگیری سفارش</a></li>
                                <li><a href="#">مشخصات کاربری من</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wow slideInDown col-12 col-sm-6 col-lg-3 mb-4 mb-sm-0">
                    <div class="widget_footer">
                        <div class="title_widget_footer mb-3">
                            خدمات
                        </div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li><a href="#">شرایط ارسال و عودت</a></li>
                                <li><a href="#">پرسش های متداول</a></li>
                                <li><a href="#">رعایت حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wow slideInLeft col-12 col-sm-6 col-lg-3">
                    <div class="widget_footer">
                        <div class="title_widget_footer mb-3">
                            تماس با ما
                        </div>
                        <div class="contenet_widget_footer">
                            <ul class="mb-3">
                                <li>
                                    <span> آدرس: ۴۴۵ کوه عدن جاده، کوه بهشت، اوکلند.</span>
                                </li>
                                <li>
                                    <span> شماره تماس: 2135642512</span>
                                </li>
                                <li>
                                    <span> ایمیل: digistore@exmple.com</span>
                                </li>
                            </ul>

                            <div class="area-socialIcon d-flex ">
                                <a href="http://www.facebook.com" class="icon facebook"><span
                                        class="tooltip-site">Facebook</span></a>
                                <a href="http://www.github.com" class="icon instegram"><span
                                        class="tooltip-site">instegram</span></a>
                                <a href="http://www.dribble.com" class="icon linkedin"><span
                                        class="tooltip-site">linkedin</span></a>
                                <a href="http://www.twitter.com" class="icon twitter"><span
                                        class="tooltip-site">Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area-copyright  py-4 ">
        <div class="container">
            <div class="row justify-content-between align-items-center ">
                <div class="col-12 col-sm-6">
                    <div class="copyright">
                        تمامی حقوق سایت محفوظ است
                    </div>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0 d-flex justify-content-start justify-content-sm-end">
                    <div class="area_cartimg_footer">
                        <img src="{% static 'img/img100.png' %}" class="img-fluid" style="width: 12rem;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}