{% load static %}
{% load sub_category_tag %}

<div>
    <div class="topbar-site d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex align-items-center ">
                        <div class="email ">
                            <a href="mailto:contact@servin.com">
                                <span>contact@servin.com</span>
                                <i class="far fa-envelope"></i>
                            </a>
                        </div>
                        <div class="phone">
                            <a href="tel:09156522323">
                                <span>09156522323</span>
                                <i class="fal fa-phone-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="user-account d-none d-md-block">
                            <a href="{% url 'customer_profile:profilecustomer' %}">
                                <span>حساب کاربری</span>
                                <i class="fal fa-user"></i>
                            </a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'customer_profile:customerlogout' %}">
                            <span>خروج</span>
                            <i class="fal fa-user"></i>
                            </a>
                            <span>salam {{ request.user.username }}</span>
                            <i class="fal fa-user"></i>
                            {% else %}
                            <a href="{% url 'customer_profile:customer_login' %}">
                            <span>ورود</span>
                            <i class="fal fa-user"></i>
                            </a>
                            <a href="{% url 'customer_profile:registercustomer' %}">
                            <span>ثبت نام</span>
                            <i class="fal fa-user"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="serv-navbar">
        <div class="container">
            <div class="row" style="position: relative;">
                <div
                    class="col-4 col-lg-2 order-2 order-lg-1 d-flex justify-content-center justify-content-lg-start">
                    <div class="area-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="img-fluid" /></a>
                    </div>
                </div>
                <div class="col-4 col-lg-8 order-1 order-lg-2 d-flex align-items-center col-main_menu">
                    <div class="main_menu h-100 d-none d-lg-block">
                        <ul class="d-flex h-100 align-items-center ">
                            <li><a href="{% url 'home' %}">صفحه اصلی</a>
                            </li>
                            <li><a href="#">صفحات<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contact.html">تماس با ما</a>
                                    </li>
                                    <li><a href="login.html"> محصول مورد علاقه</a></li>
                                    <li><a href="signup.html"> سبد خرید</a></li>
                                </ul>
                            </li>

                            <li class="container-mega-menu"><a href="">محصولات<i
                                        class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="serv-megamenu">
                                    <div class="row">
                                        {% for cat in p_category %}
                                        <div class="col-3">
                                            {{ cat.title }}
                                            <ul>
                                                {% get_sub_cat cat as sub_categorys %}
                                                {% for sub_cat in sub_categorys %}
                                                {% if sub_cat.parent_id == cat.id %}
                                                <li><a href="{% url "product:show_product" sub_cat %}">{{ sub_cat.title }}
                                                </a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="icon_meni_bar">
                        <a class="d-block d-lg-none"><i class="fas fa-bars "></i></a>
                    </div>
                    <div id="menu_mobile" class="menu_mobile">
                        <div class="header_menu_mobile d-flex align-items-center">
                            <button type="button" class="close close_menu_mobile" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <div class="area-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="img-fluid" /></a>
                            </div>
                        </div>
                        <div class="area_menu_mobile menu-top-menu-container" id="accordian">
                            <ul class="menu-multi-level">
                                <li><a href="{% url 'home' %}">صفحه اصلی</a>
                                </li>
                                <li class="menu-item-has-children"><a href="#">صفحات</a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">درباره ما</a></li>
                                        <li><a href="contact.html">تماس با ما</a>
                                        </li>
                                        <li><a href="login.html"> محصول مورد علاقه</a></li>
                                        <li><a href="signup.html"> سبد خرید</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="">محصولات</a>
                                    <ul class="sub-menu">
                                        <li class="mega-menu-col">
                                            <a class="title-megamenu-mobile " href="#">آرایشی</a>
                                            <ul>
                                                <li><a href="#"> آرایش صورت</a></li>
                                                <li> <a href="#">آرایش لب</a></li>
                                                <li><a href="#">آرایش چشم و ابرو</a></li>
                                                <li><a href="#">آرایش ناخن</a></li>
                                                <li> <a href="#"> آرایش مو</a></li>
                                                <li><a href="#">پاک کننده های آرایشی</a></li>
                                                <li><a href="shop-product-detail-with-sticy-addtocart.html">جزئیات
                                                        محصول با سبد خرید شناور</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-lg-2 order-3 order-lg-3">
                    <div class="area-widget_navbar d-flex align-items-center justify-content-end h-100">
                        <div class="icon-search item_widget_navbar d-none d-lg-block">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <div class="icon-wishlist item_widget_navbar d-none d-lg-block">
                            <a href="#">
                                <i class="fal fa-heart"></i>
                                <span class="badge_count">0</span>
                            </a>
                        </div>
                        <div class="icon-shooping-cart item_widget_navbar">
                            <a href="{% url 'carts:show_cart' %}">
                                <i class="fal fa-shopping-cart"></i>
                                <span class="badge_count">0</span>
                            </a>
                            <div class="box-add-to-cart-header">
                                <div class="header-add-to-cart d-flex justify-content-between align-items-center">
                                    <div class="count-product-addtocart">
                                        <span>تعداد کالا :</span>
                                        <span>2</span>
                                    </div>
                                    <div class="link-show-cart"><a href="#">مشاهده سبد خرید</a></div>
                                </div>
                                <div class="body-add-to-cart p-4">
                                    <div class="row  mb-4">
                                        <div class="col-10">
                                            <div class="details_product_addtocart">
                                                <div
                                                    class="title_product_addtocart mb-2 d-flex justify-content-start">
                                                    محصول 1 </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div
                                                        class="img_product_addtocart h-100 d-flex align-items-center">
                                                        <img class="img-fluid" src="{% static 'img/img71.jpg' %}" />
                                                    </div>
                                                    <div class="details_price_addtocart d-flex align-items-center">
                                                        <input name="input" type="number" value="1" class="me-2">
                                                        <div
                                                            class="price_product_addtocart d-flex align-items-center">
                                                            <span class="order-2"> 20000 تومان</span>
                                                            <span class="order-1 me-2">x</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <div class="close_product_addtocart"> <a href="#" class="d-flex p-1"><i
                                                        class="fas fa-trash-alt"></i><span
                                                        class="tooltip-site">حذف</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  mb-4">
                                        <div class="col-10">
                                            <div class="details_product_addtocart">
                                                <div
                                                    class="title_product_addtocart mb-2 d-flex justify-content-start">
                                                    محصول 2 </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div
                                                        class="img_product_addtocart h-100 d-flex align-items-center">
                                                        <img class="img-fluid" src="{% static 'img/img70.jpg' %}" />
                                                    </div>
                                                    <div class="details_price_addtocart d-flex align-items-center">
                                                        <input name="input" type="number" value="1" class="me-2">
                                                        <div
                                                            class="price_product_addtocart d-flex align-items-center">
                                                            <span class="order-2"> 20000 تومان</span>
                                                            <span class="order-1 me-2">x</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <div class="close_product_addtocart"> <a href="#" class="d-flex p-1"><i
                                                        class="fas fa-trash-alt"></i><span
                                                        class="tooltip-site">حذف</span></a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="footer_addtocart d-flex flex-column align-items-center justify-content-center">
                                    <div
                                        class="area_total_modal_addtocart mb-3  d-flex justify-content-between w-100">
                                        <span>مجموع کل :</span>
                                        <span> 250000 تومان</span>
                                    </div>
                                    <a href="#" class="btn btn-custom  btn-block btn-add-to-cart btn-animate1">
                                        پرداخت </a>
                                </div>
                            </div>
                        </div>
                        <div class="area-widget-header-fixed d-block d-lg-none">
                            <div class="widget-header-fixed d-flex justify-content-between align-items-center">
                                <div class="icon-search widget-header">
                                    <a href="#" class="d-flex justify-content-center align-items-center">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                                <div class="icon-wishlist widget-header">
                                    <a href="#" class="d-flex justify-content-center align-items-center">
                                        <i class="fal fa-heart"></i>
                                        <span class="badge_count">0</span>
                                    </a>
                                </div>
                                <div class="account-user widget-header">
                                    <a href="#" class="d-flex justify-content-center align-items-center">
                                        <i class="fal fa-user"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
